<template>
<div>
    <div class="row">
        <div class=" col-12 col-sm-12 col-md-4 col-lg-3">
            <SideBar/>  
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <h4 class="mt-5 mb-5"><img src="../assets/img/dashboard_1.png" alt=""> Dashboard </h4>

            <div class="table-borderless table-hover container w-75 mb-5">
            <div class="shadow-sm">
            <h6>Personnels</h6>
            <table class="table table-borderless table-hover mt-4">
                <thead>
                    <th>Name</th>
                    <th>Status</th>
                </thead>

                <tbody>
                    <tr v-for="personnels in personnels" :key="personnels.id">
                        <td>{{personnels.first_name}} {{personnels.middle_name}} {{personnels.last_name}}</td>
                        <td>{{personnels.status.status}}</td>
                    </tr>            
                </tbody>
            </table>
            </div>

            <div class="shadow-sm">
            <h6 class="mt-5">Schedules</h6>
            <table class="table table-borderless table-hover mt-4">
                <thead>
                    <th>Personnel</th>
                    <th>Time</th>
                    <th>Destination</th>
                    <th>Materials</th>
                </thead>

                <tbody>
                    <tr v-for="schedules in schedules" :key="schedules.id">
                        <td>{{schedules.personnels.first_name}} {{schedules.personnels.middle_name}} {{schedules.personnels.last_name}}</td>
                        <td>{{schedules.time}}</td>
                        <td>{{schedules.destination}}</td>
                        <td>{{schedules.materials.name}}</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="shadow-sm mt-5">
                <h6 class="mt-5">Materials</h6>
                <table class="table table-borderless table-hover mt-4">
                 <thead>
                     <th>Name</th>
                     <th>Stocks</th>
                 </thead>

                 <tbody>
                     <tr v-for="materials in materials" :key="materials.id">
                        <td>{{materials.name}}</td>
                        <td>{{materials.stocks}}</td>
                     </tr>
                 </tbody>
             </table>
            </div>
            </div>
        </div>
    </div> 
</div>
</template>

<script>
import SideBar from '../components/SideBar'

export default {
    name:'Dashboard',
    components:{SideBar},
    computed:{
        personnels(){
            return this.$store.getters['personnels/fetch']
        },
        schedules(){
            return this.$store.getters['schedules/fetch']
        },
        materials(){
            return this.$store.getters['materials/fetch']
        }
    },
    mounted(){
        this.personnel()
        this.schedule()
        this.material()
    },
    methods:{
        personnel(){
            this.$store.dispatch('personnels/fetchData')
        },
        schedule(){
            this.$store.dispatch('schedule/fetchData')
        },
        material(){
            this.$store.dispatch('materials/fetchData')
        }
    }
    
}
</script>

<style scoped>

h4{
    color: #e2a61b;
    font-weight: bold;
}

h4 img{
    height: 45px;
    width: 45px;
    padding-bottom: 5px;
}

h6{
    font-weight:bold;
    color: #e2a61b;
}
</style>