<template>
<div class="bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-4 mb-5">

                <div class="text-center mt-5">
                    <img src="../assets/img/logo.png" alt="LNU LOGO">
                    <h3 class="font-weight-bold">LNU CLEAN-UP</h3>
                </div>
                /
                <form>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" v-model="username" class="form-control form-control-md mt-1">
                </div>

                <div class="form-group mt-4">
                    <label>Password</label>
                    <input type="password" v-model="password" class="form-control form-control-md mt-1">
                </div>

                <div class="form-group mt-3 mb-5 d-flex justify-content-between" v-for="confirm in confirmation" :key="confirm.id">
                <button type="button" class="btn users" @click="users">Go to Users page</button>
                <button type="button" class="btn admin pl-5 pr-5" @click="login(confirm)">Login</button>
                </div>
                
                </form> 
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    name: 'Login',
    data(){
        return{
             username: null,
             password: null
        }
    },
    computed:{
        confirmation(){
            return this.$store.getters['admin/fetch']
        }
    },
    mounted(){
        this.admin()
    },

    methods:{
        admin(){
            this.$store.dispatch('admin/fetchData')
        },

        login(data){
            if(this.username == data.username && this.password == data.password ){
                this.$router.push('/Dashboard')
            }  
        },
        users(){
            this.$router.push('/Users')
        }
    }
}
</script>

<style scoped>

.bg{
    background-color: rgb(240, 240, 240);
}

.row{
    border: 1px solid rgb(180, 180, 180);
}

label{
    font-size: 18px;
    font-weight: bold;
    color: #e2a61b;
}

.admin{
    background-color: #070372;
    color: white;
    font-weight: bold;
}

.admin:focus , .users:focus{
    box-shadow: none
}

.admin:hover{
    background-color: #e2a61b;
    color: white;
}

.users{
    font-size: 14px;
    font-weight: bold;
}

.users:hover{
    color: #e2a61b;
}

form{
    margin-top: 60px;
}

input{
    border: none;
    outline: none;
    border:black 1px solid;
    border-radius: 5px ;
    font-weight: bold;
    color: black;
}

input:focus{
    box-shadow: none;
    outline: none;
    border:#070372 2px solid;
    color: black;
}

img{
    
    margin-bottom: 20px;
    height: 110px;
    width: 110px;
}

h3{
    color:#070372;
}

</style>