<template>
<div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            <SideBar/>  
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <MaterialsModal :checkModal="modalsData" :material="materials"/>
            <h4 class="mt-5 ml-2 mb-5"><img src="../assets/img/cleaning_1.png" alt="" > Materials</h4>

             <button type="button" class="btn mt-3 personnel" data-toggle="modal" data-target="#modelId" @click="checkModal('addModal')"><img src="../assets/img/add.png" alt=""><span class="ml-2">Material</span></button>

             <table class="table table-borderless table-hover mt-4">
                 <thead>
                     <th>Name</th>
                     <th>Stocks</th>
                     <th>Actions</th>
                 </thead>

                 <tbody>
                     <tr v-for="fetchData in fetchData" :key="fetchData.id">
                        <td>{{fetchData.name}}</td>
                        <td>{{fetchData.stocks}}</td>
                        <td class="d-flex">
                            <button type="button" class="btn p-0 mr-4" data-toggle="modal" data-target="#modelId" @click="checkModal('updateModal',fetchData)"><img src="../assets/img/update.png" alt=""></button>
                            <button type="button" class="btn p-0" data-toggle="modal" data-target="#modelId" @click="checkModal('deleteModal',fetchData)"><img src="../assets/img/delete.png" alt="" ></button>
                        </td>
                     </tr>
                 </tbody>
             </table>
        </div>
    </div>
</div>
</template>

<script>
import SideBar from '../components/SideBar'
import MaterialsModal from '../components/MaterialsModal'

export default {
    name:'Materials',
    components:{SideBar,MaterialsModal},
    data(){
        return{
            modalsData: null,
            materials: null
        }
    },
    computed:{
        fetchData(){
            return this.$store.getters['materials/fetch']
        }
    },
    mounted(){
        this.materialsData()
    },
    methods:{

        materialsData(){
            this.$store.dispatch('materials/fetchData')
        },
        checkModal(data,fetchData){
            if(data == 'addModal')
            {
                this.modalsData = data
            }

            if(data == 'updateModal')
            {
                this.modalsData = data
                this.materials = fetchData
            }

            if(data == 'deleteModal')
            {
                this.modalsData = data
                this.materials = fetchData
            }
        }
    }
}
</script>

<style scoped>

.set{
    font-weight: bold;
}

h6 span{
    color: #e2a61b;
    font-weight: 600;
}

.btn:focus{
    box-shadow: none;
}

.btn img{
    width: 36px;
    height: 36px;
}

.btn span{
    font-size: 16px;
    font-weight: bold;
}

h4{
    color: #e2a61b;
    font-weight: bold;
}

h4 img{
    height: 45px;
    width: 45px;
    padding-bottom: 5px;
}

.table .btn img{
    height: 32px;
    width: 32px;
    margin-top: 0px;
}

thead{
    font-weight: bold;
    font-size: 17px;
}
</style>