<template>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5 v-if="checkModal == 'addModal'">Personnel (Add)</h5>
                            <h5 v-if="checkModal == 'updateModal'">Personnel (Update)</h5>
                            <h5 v-if="checkModal == 'deleteModal'">Personnel (Delete)</h5>
                        </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                       <form v-if="checkModal != 'deleteModal'">
                            <div class="form-group">
                                <label>Name</label><br>
                                <input type="text" v-model="materials.name" class="form-control" v-if="checkModal == 'addModal'">
                                <input type="text" v-model="material.name" class="form-control" v-if="checkModal == 'updateModal'">
                            </div>

                            <div class="form-group">
                                <label>Stocks</label><br>
                                <input type="text" v-model="materials.stocks" class="form-control" v-if="checkModal == 'addModal'">
                                <input type="text" v-model="material.stocks" class="form-control" v-if="checkModal == 'updateModal'">
                            </div>
                       </form>
                            <div class="form-group" v-if="checkModal == 'deleteModal'">
                                <span>Would you like to Delete?</span>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn close" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn save" data-dismiss="modal" @click="addData" v-if="checkModal == 'addModal'">Save</button>
                        <button type="button" class="btn save" data-dismiss="modal" @click="updateData" v-if="checkModal == 'updateModal'">Update</button>
                        <button type="button" class="btn btn-outline-danger p-2" data-dismiss="modal" @click="deleteData" v-if="checkModal == 'deleteModal'">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MaterialsModal',
    props: ['checkModal','material'],
    data(){
        return{
            materials:{
                name:null,
                stocks:null
            }
        }
    },
    methods:{
        addData(){
            this.$store.dispatch('materials/addData',this.materials)
        },
        updateData(){
            this.$store.dispatch('materials/updateData',this.material)
        },
        deleteData(){
            this.$store.dispatch('materials/deleteData',this.material)
        }
    }
}
</script>

<style scoped>
.modal-header img{
    width: 36px;
    height:36px;
}

.form-group label{
    font-weight: bold;
    font-size: 14px;
}

.form-group span{
    font-size: 16px;
    font-weight: bold;
}

.modal-header h5{
    color: #e2a61b;
    font-weight: bold;
}

input:focus{
    box-shadow: none;
    border: 2px #e2a61b solid;
}

.modal-footer .save{
    color: #e2a61b;
    border: #e2a61b solid 2px;
}

.modal-footer .save:hover{
    background-color: #e2a61b;
    color: white;
}

.modal-footer .close{
    font-size: 16px;
    margin-right: 10px;
    color: black;
}

</style>