<template>
    <div class="sidebar">
        <nav class="navbar navbar-expand-lg">
        <span class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt="">LNU CLEAN-UP</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <router-link to="/" class="nav-link"> Logout </router-link>
      </li>
    </ul>
  </div>
</nav>
    </div>
</template>

<script>
export default {
    name: 'NavBar',
}
</script>

<style scoped>

img{
  width: 55px;
  height: 55px;
  margin-right:15px;
}

span{
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.nav-link{
  color: white;
  font-weight: bold;
}

.navbar{
  background-color: #e2a61b;
}
</style>