<template>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5 v-if="checkModal == 'addModal'">Personnel (Add)</h5>
                            <h5 v-if="checkModal == 'updateModal'">Personnel (Update)</h5>
                            <h5 v-if="checkModal == 'deleteModal'">Personnel (Delete)</h5>
                        </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                       <form v-if="checkModal != 'deleteModal'">
                            <div class="form-group">
                                <label>First Name</label><br>
                                <input type="text" class="form-control" v-model="personnel.first_name" v-if="checkModal == 'addModal'">
                                <input type="text" class="form-control" v-model="personnelsData.first_name" v-if="checkModal == 'updateModal'">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label><br>
                                <input type="text" class="form-control" v-model="personnel.last_name" v-if="checkModal == 'addModal'">
                                <input type="text" class="form-control" v-model="personnelsData.last_name" v-if="checkModal == 'updateModal'">
                            </div>

                            <div class="form-group">
                                <label>Middle Name</label><br>
                                <input type="text" class="form-control" v-model="personnel.middle_name" v-if="checkModal == 'addModal'">
                                <input type="text" class="form-control" v-model="personnelsData.middle_name" v-if="checkModal == 'updateModal'">
                            </div>

                            <div class="form-group">
                                <label>Status</label><br>
                                <h6 class="mt-2 text-success" v-if="checkModal == 'addModal'">Available</h6>
                                <select v-model="personnelsData.status_id" v-if="checkModal == 'updateModal'">
                                    <option v-for="status in fetchStatus" :key="status.id" :value="status.id">
                                        {{status.status}}
                                    </option>
                                </select>
                            </div>
                       </form>
                       
                            <div class="form-group" v-if="checkModal == 'deleteModal'">
                                <span>Would you like to Delete?</span>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn close" data-dismiss="modal" @click="refreshData">Cancel</button>
                        <button type="button" class="btn save" data-dismiss="modal" @click="addData" v-if="checkModal == 'addModal'">Save</button>
                        <button type="button" class="btn save" data-dismiss="modal" @click="updateData" v-if="checkModal == 'updateModal'">Update</button>
                        <button type="button" class="btn btn-outline-danger p-2"  @click="deleteData" data-dismiss="modal" v-if="checkModal == 'deleteModal'">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'PersonnelModal',
    props: ['checkModal','personnelsData'],
    data(){
        return{
            personnel:{
                first_name:null,
                last_name: null,
                middle_name: null,
                status_id: 1
            }
        }
    },
    computed:{
        fetchStatus(){
            return this.$store.getters['status/fetch']
        },
    },
    mounted(){
        this.statusData()
    },
    methods:{
        statusData(){
            this.$store.dispatch('status/fetchData')
        },
        addData(){
            this.$store.dispatch('personnels/addData',this.personnel)
        },
        updateData(){
             this.$store.dispatch('personnels/updateData',this.personnelsData)
        },
        deleteData(){
             this.$store.dispatch('personnels/deleteData',this.personnelsData)
        },
        refreshData(){
            this.personnel.first_name = ''
            this.personnel.last_name = ''
            this.personnel.middle_name = ''
        }
    }
}
</script>

<style scoped>
.modal-header img{
    width: 36px;
    height:36px;
}

.form-group label{
    font-weight: bold;
    font-size: 14px;
}

.modal-header h5{
    color: #e2a61b;
    font-weight: bold;
}

input:focus{
    box-shadow: none;
    border: 2px #e2a61b solid;
}

.form-group span{
    font-size: 16px;
    font-weight: bold;
}

.modal-footer .save{
    color: #e2a61b;
    border: #e2a61b solid 2px;
}

.modal-footer .save:hover{
    background-color: #e2a61b;
    color: white;
}

.modal-footer .close{
    font-size: 16px;
    margin-right: 10px;
    color: black;
}

</style>