<template>
<div>
    <div class="row">
        <div class=" col-12 col-sm-12 col-md-4 col-lg-3">
            <SideBar/>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="container ">
                <PersonnelModal :checkModal="modalsData" :personnelsData="personnelsData"/>
                <h4 class="mt-5 mb-5"><img src="../assets/img/personnel_1.png" alt=""> Personnels</h4>

            <button type="button" class="btn mt-3 personnel" data-toggle="modal" data-target="#modelId" @click="checkModal('addModal')"><img src="../assets/img/add.png" alt=""><span class="ml-2">Personnel</span></button>

            <div class="shadow-sm">
            <table class="table table-borderless table-hover mt-4">
                <thead>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    <tr v-for="fetchData in fetchData" :key="fetchData.id">
                        <td>{{fetchData.first_name}} {{fetchData.middle_name}} {{fetchData.last_name}}</td>
                        <td>{{fetchData.status.status}}</td>
                        <td class="d-flex">
                            <button type="button" class="btn p-0 mr-4" data-toggle="modal" data-target="#modelId" @click="checkModal('updateModal', fetchData)"><img src="../assets/img/update.png" alt=""></button>
                            <button type="button" class="btn p-0" data-toggle="modal" data-target="#modelId" @click="checkModal('deleteModal', fetchData)"><img src="../assets/img/delete.png" alt=""></button>
                        </td>
                    </tr>            
                </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import SideBar from '../components/SideBar'
import PersonnelModal from '../components/PersonnelModal'

export default {
    name:'Personnel',
    components:{SideBar,PersonnelModal},
    data(){
        return{
            modalsData: null,
            personnelsData: null
        }  
    },
    computed:{
        fetchData(){
            return this.$store.getters['personnels/fetch']
        },
    },
    mounted(){
        this.personnel()
    },
    methods:{
        personnel(){
            this.$store.dispatch('personnels/fetchData')
        },

        checkModal(data,personnelsData){
            if(data == 'addModal')
            {
                this.modalsData = data
                
            }

            if(data == 'updateModal')
            {
                this.modalsData = data
                this.personnelsData = personnelsData
            }

            if(data == 'deleteModal')
            {
                this.modalsData = data
                this.personnelsData = personnelsData
            }   
        },

    }
}
</script>

<style scoped>

.btn:focus{
    box-shadow: none;
}

h4{
    color: #e2a61b;
    font-weight: bold;
}

.table .btn img{
    height: 32px;
    width: 32px;
    margin-top: 0px;
}

thead{
    font-weight: bold;
    font-size: 17px;
}

h4 img{
    height: 45px;
    width: 45px;
    padding-bottom: 5px;
}

.btn span{
    font-size: 16px;
    font-weight: bold;
}

.btn img{
    width: 36px;
    height: 36px;
}

h6 span{
    color: #e2a61b;
    font-weight: bold;
}

h6{
    font-weight: bold;
}
</style>