<template>
<div>
    <div class="row">
        <div class=" col-12 col-sm-12 col-md-4 col-lg-3">
            <SideBar/>  
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="container">
                <ScheduleModal :checkModal="modalsData" :schedulesData="schedulesData"/>
            <h4 class="mt-5 mb-5"><img src="../assets/img/schedule_1.png" alt=""> Schedules</h4>

            <button type="button" class="btn mt-3 schedule" data-toggle="modal" data-target="#modelId" @click="checkModal('addModal')"><img src="../assets/img/add.png" alt=""><span class="ml-2">Schedule</span></button>

                    <div class="shadow-sm">
            <table class="table table-borderless table-hover mt-4">
                <thead>
                    <th>Personnel</th>
                    <th>Time</th>
                    <th>Destination</th>
                    <th>Materials</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    <tr v-for="fetchData in fetchData" :key="fetchData.id">
                        <td>{{fetchData.personnels.first_name}} {{fetchData.personnels.middle_name}} {{fetchData.personnels.last_name}}</td>
                        <td>{{fetchData.time}}</td>
                        <td>{{fetchData.destination}}</td>
                        <td>{{fetchData.materials.name}}</td>
                        <td class="d-flex">
                            <button type="button" class="btn p-0 mr-4" data-toggle="modal" data-target="#modelId" @click="checkModal('updateModal',fetchData)"><img src="../assets/img/update.png" alt=""></button>
                            <button type="button" class="btn p-0" data-toggle="modal" data-target="#modelId" @click="checkModal('deleteModal',fetchData)"><img src="../assets/img/delete.png" alt=""></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
</template>

<script>
import SideBar from '../components/SideBar'
import ScheduleModal from '../components/ScheduleModal'

export default {
    name:'Schedule',
    components:{SideBar,ScheduleModal},
    data(){
        return{
            modalsData: null,
            schedulesData: null
        }
    },
    computed:{
        fetchData(){
            return this.$store.getters['schedules/fetch']
        },
    },
    mounted(){
        this.schedule()
    },
    methods:{
        schedule(){
            this.$store.dispatch('schedules/fetchData')
        },
        checkModal(data,scheduleData){
            if(data == 'addModal')
            {
                this.modalsData = data
            }

            if(data == 'updateModal')
            {
                this.modalsData = data
                this.schedulesData = scheduleData
            }

            if(data == 'deleteModal')
            {
                this.modalsData = data
                this.schedulesData = scheduleData
            }
        }
    }
}
</script>

<style scoped>

.btn img{
    width: 36px;
    height: 36px;
}

.btn span{
    font-size: 16px;
    font-weight: bold;
}

h6 span{
    color: #e2a61b;
    font-weight: 600;
}

.set{
    font-weight: bold;
}

h4{
    color: #e2a61b;
    font-weight: bold;
}

h4 img{
    height: 45px;
    width: 45px;
    padding-bottom: 5px;
}

.table .btn img{
    height: 32px;
    width: 32px;
    margin-top: 0px;
}

.btn:focus{
    box-shadow: none;
}
</style>