<template>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5 v-if="checkModal == 'addModal'">Schedule (Add)</h5>
                            <h5 v-if="checkModal == 'updateModal'">Schedule (Update)</h5>
                            <h5 v-if="checkModal == 'deleteModal'">Schedule (Delete)</h5>
                        </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                       <form v-if="checkModal != 'deleteModal'">
                            <div class="form-group">
                                <label>Personnel</label><br>
                                <select v-model="schedule.personnels_id" v-if="checkModal == 'addModal'">
                                    <option v-for="personnel in fetchPersonnel" :key="personnel.id" :value="personnel.id">
                                        <h6>{{personnel.first_name}} {{personnel.middle_name}} {{personnel.last_name}}</h6>
                                    </option>
                                </select>

                                <select v-model="schedulesData.personnels_id" v-if="checkModal == 'updateModal'">
                                    <option v-for="personnel in fetchPersonnel" :key="personnel.id" :value="personnel.id">
                                        <h6>{{personnel.first_name}} {{personnel.middle_name}} {{personnel.last_name}}</h6>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Time</label><br>
                                <input type="text" class="form-control" v-model="schedule.time" v-if="checkModal == 'addModal'">
                                <input type="text" class="form-control" v-model="schedulesData.time" v-if="checkModal == 'updateModal'">
                            </div>

                            <div class="form-group">
                                <label>Destination</label><br>
                                <input type="text" class="form-control" v-model="schedule.destination" v-if="checkModal == 'addModal'">
                                <input type="text" class="form-control" v-model="schedulesData.destination" v-if="checkModal == 'updateModal'">
                            </div>

                            <div class="form-group">
                                <label>Materials</label><br>
                                <select v-model="schedule.materials_id" v-if="checkModal == 'addModal'">
                                    <option v-for="material in fetchMaterials" :key="material.id" :value="material.id">
                                        <h6>{{material.name}}</h6>
                                    </option>
                                </select>

                                <select v-model="schedulesData.materials_id" v-if="checkModal == 'updateModal'">
                                    <option v-for="material in fetchMaterials" :key="material.id" :value="material.id">
                                        <h6>{{material.name}}</h6>
                                    </option>
                                </select>
                            </div>
                       </form>

                            <div class="form-group" v-if="checkModal == 'deleteModal'">
                                <span>Would you like to Delete?</span>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn close" data-dismiss="modal" @click="refreshData">Cancel</button>
                        <button type="button" class="btn save" v-if="checkModal == 'addModal'" data-dismiss="modal" @click="addData">Save</button>
                        <button type="button" class="btn save" v-if="checkModal == 'updateModal'" data-dismiss="modal" @click="updateData">Update</button>
                        <button type="button" class="btn btn-outline-danger p-2" v-if="checkModal == 'deleteModal'" data-dismiss="modal" @click="deleteData">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ScheduleModal',
    props:['checkModal','schedulesData'],
    data(){
        return{
            schedule:{
                personnels_id:null,
                time:null,
                destination:null,
                materials_id:null
            }
        }
    },
    computed:{
        fetchPersonnel(){
            return this.$store.getters['personnels/fetch']
        },
        fetchMaterials(){
            return this.$store.getters['materials/fetch']
        }
    },
    mounted(){
        this.personnelsData(),
        this.materialsData()
    },
    methods:{
        personnelsData(){
            this.$store.dispatch('personnels/fetchData')
        },
        materialsData(){
            this.$store.dispatch('materials/fetchData')
        },
        addData(){
            this.$store.dispatch('schedules/addData', this.schedule)
        },
        updateData(){
            this.$store.dispatch('schedules/updateData',this.schedulesData)
        },
        deleteData(){
            this.$store.dispatch('schedules/deleteData',this.schedulesData)
        },
        refreshData(){
            this.time = ""
            this.destination = ""
        }
    }
}
</script>

<style scoped>
.modal-header img{
    width: 36px;
    height:36px;
}

.form-group label{
    font-weight: bold;
    font-size: 14px;
}

.form-group span{
    font-size: 16px;
    font-weight: bold;
}

.modal-header h5{
    color: #e2a61b;
    font-weight: bold;
}

input:focus{
    box-shadow: none;
    border: 2px #e2a61b solid;
}

.modal-footer .save{
    color: #e2a61b;
    border: #e2a61b solid 2px;
}

.modal-footer .save:hover{
    background-color: #e2a61b;
    color: white;
}

.modal-footer .close{
    font-size: 16px;
    margin-right: 10px;
    color: black;
}

select{
    height:24px;
    width: auto;
}
</style>