<template>
<div>
    <div class="sidebar shadow-lg">
        <ul class="nav flex-column">
            <div class="row text-center">
                <div class="col-12">
                    <img src="../assets/img/logo.png" alt="LOGO" class="img1 mt-5 mb-1">
                </div>
                <div class="col-12 mb-3">
                    <label for="">LNU CLEAN-UP</label>
                </div>
            </div>

            <li class="nav-item mt-5">
                <router-link to="/Dashboard" class="btn"><img src="../assets/img/dashboard.png" alt="Dashboard" class="mr-3 "> Dashboard</router-link>
            </li>

            <li class="nav-item mt-4">
                <router-link to="/Personnels" class="btn"><img src="../assets/img/personnel.png" alt="Schedule" class="mr-3"> Personnels</router-link>
            </li>

            <li class="nav-item mt-4">
                <router-link to="/Schedules" class="btn"><img src="../assets/img/schedule.png" alt="Personnel" class="mr-3"> Schedules</router-link>
            </li>

            <li class="nav-item mt-4">
                <router-link to="/Materials" class="btn"><img src="../assets/img/cleaning.png" alt="Personnel" class="mr-3"><span>Materials</span></router-link>
            </li>

            <li class="nav-item mt-4">
                <router-link to="/" class="btn"><img src="../assets/img/logout.png" alt="Logout" class="mr-3"> Logout</router-link>
            </li>
        </ul>   
    </div>
</div>
</template>

<script>

export default {
    name: 'SideBar',  
}
</script>

<style scoped>
.img1{
    height: 85px;
    width: 85px;
}

label{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 12px;
    color:#070372;
}

li{
    color:#070372;
}

a{  
    outline: none !important;
    color:#070372;
    font-weight: bold;
    font-size: 16px;
}

.btn{
    border: none;
    outline: none;
}

.btn img{
    height: 28px;
    width: 28px;
}

a:focus{
    border-radius: 0px;
    box-shadow: none;
}

.nav-link{
    border: none;
    outline: none;
}

li:hover{
    border-left:#c08f1e 18px solid;
    transition-duration: 0.2s;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.3s;
}

@media (max-width: 770.98px) {
.sidebar{
    overflow-x: hidden;
    width: 0;
    left: 0;
    transition: width 0.2s;
}
}

</style>