<template>
    <div>
        <NavBar/>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="card shadow mb-4" v-for="schedule in schedule" :key="schedule.id">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class="pt-2">Schedule</h5>
                            <button type="button" class="btn" @click="Done(schedule)">Done</button>
                        </div>
                        <div class="card-body">
                            <h6>Personnel: <span>{{schedule.personnels.first_name}} {{schedule.personnels.middle_name}} {{schedule.personnels.last_name}}</span></h6>
                            <h6>Time: <span>{{schedule.time}}</span></h6>
                            <h6>Destination: <span>{{schedule.destination}}</span></h6>    
                            <h6>Materials: <span>{{schedule.materials.name}}</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from './NavBar'
export default {
    name:'Users',
    components:{NavBar},
    computed:{
        schedule(){
            return this.$store.getters['schedules/fetch']
        }
    },
    mounted(){
        this.schedulesData()
    },
    methods:{
        schedulesData(){
            this.$store.dispatch('schedules/fetchData')
        },
    
        Done(data){
            this.$store.dispatch('schedules/deleteData', data)
        }

    }
}
</script>

<style scoped>

.card-header{
    background-color: #070372;
}

.btn{
    background-color: #e2a61b;
    color: white;
}

.btn:focus{
    box-shadow: none;
}

span{
    color: #e2a61b;
    font-weight: bold;
    font-size: 16px;
    margin-left: 8px;
}

h5{
    font-weight: bold;
    color: whitesmoke;
}

h6{
    padding-bottom: 16px;
}
</style>